blinker
certifi
charset-normalizer
click
dash
et_xmlfile
Flask
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
plotly
python-dateutil
pytz
requests
retrying
setuptools
six
typing_extensions
tzdata
urllib3
Werkzeug
zipp